**Write a program to predict the time taken to solve a problem given the current status of the user.**

In [1]:
#importing packages required 
import pandas as pd
import numpy as np

In [5]:
df=pd.read_csv("Timeprediction.csv")
df.head(5)

  personqualification  PastExperience Knowledgelevel  Time
0            Graduate               3            Low     3
1                  PG               4           High     1
2            Graduate               5         Medium     3
3                  PG               3         Medium     4
4            Graduate               2           High     2

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   personqualification  13 non-null     object
 1   PastExperience       13 non-null     int64
 2   Knowledgelevel       13 non-null     object
 3   Time                 13 non-null     int64
dtypes: int64(2), object(2)
memory usage: 544.0+ bytes

In [7]:
df.describe()

       PastExperience       Time
count       13.000000  13.000000
mean         2.846154   3.153846
std          1.214232   1.281025
min          1.000000   1.000000
25%          2.000000   2.000000
50%          3.000000   3.000000
75%          4.000000   4.000000
max          5.000000   5.000000

In [8]:
df.isna().sum()

personqualification    0
PastExperience         0
Knowledgelevel         0
Time                   0
dtype: int64

In [9]:
df['personqualification'].replace('Graduate',0,inplace=True)
df['personqualification'].replace('PG',1,inplace=True)

In [12]:
df['Knowledgelevel'].replace('low',0,inplace=True)
df['Knowledgelevel'].replace('Low',0,inplace=True)
df['Knowledgelevel'].replace('Medium',1,inplace=True)
df['Knowledgelevel'].replace('High',2,inplace=True)
df

    personqualification  PastExperience  Knowledgelevel  Time
0                     0               3               0     3
1                     1               4               2     1
2                     0               5               1     3
3                     1               3               1     4
4                     0               2               2     2
5                     1               1               0     5
6                     1               3               2     2
7                     1               4               1     2
8                     0               2               0     5
9                     1               4               0     4
10                    0               1               0     4
11                    0               2               0     4
12                    0               3               2     2

In [30]:
X=df.iloc[:,0:3]
Y=df.iloc[:,-1]
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.2)

In [31]:
from sklearn.linear_model import LinearRegression
lin_reg=LinearRegression()

In [32]:
lin_reg.fit(X_train,y_train)

LinearRegression()

In [34]:
y_pred=lin_reg.predict(X_test)

In [37]:
from sklearn.metrics import mean_squared_error
print("Mean Squared Error",np.sqrt(mean_squared_error(y_pred,y_test)))

Mean Squared Error 0.801404255019409

In [39]:
print("R squared",lin_reg.score(X_test,y_test))

R squared -1.8901195098344625

In [46]:
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier()

In [47]:
dt.fit(X_train,y_train)

DecisionTreeClassifier()

In [53]:
y_pred=dt.predict(X_test)
print(y_pred)
print(X_test)
print(y_test)

[4 4 4]
    personqualification  PastExperience  Knowledgelevel
5                     1               1               0
11                    0               2               0
8                     0               2               0
5     5
11    4
8     5
Name: Time, dtype: int64

In [50]:
from sklearn.metrics import accuracy_score
print("Accuracy Score", accuracy_score(y_pred,y_test))

Accuracy Score 0.3333333333333333